html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin-top: 3em;
     
}

.container-inner {
    display: grid;
    grid-template-columns: repeat(3, 150px); 
    margin: 0 auto;
    width: 750px;

    /* grid-template-areas: 
    "one two three"
    "four five six"
    "seven eight nine"; */
    
    
}

.container-outer {
    margin: 0 auto;
    width: 750px;
}

.cells {
    border: 1px solid #000;
    width: 150px;
    height: 150px;
    /* border-right: 1px solid #000; */
}

.players, .player-names, .container-inner {
    display: none;
}

/* .cell-1 {
    grid-area: one;
}

.cell-2 {
    grid-area: two;
}
.cell-9 {
    grid-area: nine;
}
.cell-3 {
    grid-area: three;
}
.cell-4 {
    grid-area: four;
}
.cell-5 {
    grid-area: five;
}
.cell-6 {
    grid-area: six;
}
.cell-7 {
    grid-area: seven;
}
.cell-8 {
    grid-area: eight;
} */