html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin-top: 3em;
    
     
}

.container-inner {
    display: grid;
    grid-template-columns: repeat(3, 150px); 
    margin: 0 auto;
    width: 750px;
    
    
}

.container-outer {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
    transition: opacity 500ms ease, -webkit-filter 500ms ease;
    transition: filter 500ms ease, opacity 500ms ease;
    transition: filter 500ms ease, opacity 500ms ease, -webkit-filter 500ms ease;
    margin: 0 auto;
    width: 750px;
}

.modal--active .container-outer {
    filter: blur(8px);
    opacity: 1;
   

}

.modal-wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

}

.modal-wrapper .modal--active {
    top: 300px;
    margin-top: -150px;
    filter: blur(0);
    transform: scale(1);
}

.modal {
    position: relative;
    background-color: #fff;
    padding: 80px 20px 20px;
    overflow: hidden;
    height: 300px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.4);
    margin: 0 auto;
    text-align: center;
    
}

.modal-button {
    background: #e20540;
    color: #fff;
    position: absolute;
    top: 20px;
    left: 20px;
}

.cells {
    border: 1px solid #000;
    width: 150px;
    height: 150px;
    
}

#one, #two, #continue, #prompt, #player-name-x, #player-name-o, #start, .container-inner, .single-player {
    display: none;
}

